# Project 3: AWS Set-Up

### IaC Setup

In [1]:
import pandas as pd
import boto3
import json

### Load DWH Params from a file

In [2]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh_aws.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param       Value
0        DWH_CLUSTER_TYPE  multi-node
1           DWH_NUM_NODES           4
2           DWH_NODE_TYPE   dc2.large
3  DWH_CLUSTER_IDENTIFIER  dwhCluster
4                  DWH_DB         dwh
5             DWH_DB_USER     dwhuser
6         DWH_DB_PASSWORD    Passw0rd
7                DWH_PORT        5439
8       DWH_IAM_ROLE_NAME     dwhRole

### Create clients for IAM, EC2, S3 and Redshift

In [3]:
import boto3

ec2 = boto3.resource('ec2',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-west-2'
                  )

redshift = boto3.client('redshift',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

### IAM ROLE

In [4]:
from botocore.exceptions import ClientError

#1.1 Create the role, 
try:
    print("1.1 Creating a new IAM Role") 
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'})
    )    
except Exception as e:
    print(e)
    
    
print("1.2 Attaching Policy")

iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

print("1.3 Get the IAM role ARN")
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

print(roleArn)

1.1 Creating a new IAM Role
An error occurred (EntityAlreadyExists) when calling the CreateRole operation: Role with name dwhRole already exists.
1.2 Attaching Policy
1.3 Get the IAM role ARN
arn:aws:iam::278201544943:role/dwhRole

### Redshift Cluster

In [5]:
try:
    response = redshift.create_cluster(        
        #HW
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),

        #Identifiers & Credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        
        #Roles (for s3 access)
        IamRoles=[roleArn]  
    )
except Exception as e:
    print(e)

In [9]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.cxihrtmycimf.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-5e597326
7,NumberOfNodes,4

In [10]:
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ENDPOINT :: ", DWH_ENDPOINT)
print("DWH_ROLE_ARN :: ", DWH_ROLE_ARN)

DWH_ENDPOINT ::  dwhcluster.cxihrtmycimf.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::278201544943:role/dwhRole

### Open an incoming TCP port to access the cluster ednpoint

In [11]:
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0]
    print(defaultSg)
    defaultSg.authorize_ingress(
        GroupName=defaultSg.group_name,
        CidrIp='0.0.0.0/0',
        IpProtocol='TCP',
        FromPort=int(DWH_PORT),
        ToPort=int(DWH_PORT)
    )
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-c8a79cf6')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

### Make sure you can connect to the cluster

In [12]:
%load_ext sql

In [13]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cxihrtmycimf.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

### Validate Inserted Data

In [14]:
%%sql
SELECT COUNT(*)
FROM staging_events;

 * postgresql://dwhuser:***@dwhcluster.cxihrtmycimf.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8056,)]

In [15]:
%%sql
SELECT COUNT(*)
FROM staging_songs;

 * postgresql://dwhuser:***@dwhcluster.cxihrtmycimf.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

### Analytic queries on Redshift database

In [16]:
%%sql
SELECT COUNT(1)
FROM users;

 * postgresql://dwhuser:***@dwhcluster.cxihrtmycimf.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(104,)]

In [17]:
%%sql
SELECT COUNT(1)
FROM songs;

 * postgresql://dwhuser:***@dwhcluster.cxihrtmycimf.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [18]:
%%sql
SELECT COUNT(1)
FROM artists;

 * postgresql://dwhuser:***@dwhcluster.cxihrtmycimf.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(10025,)]

In [19]:
%%sql
SELECT COUNT(1)
FROM time;

 * postgresql://dwhuser:***@dwhcluster.cxihrtmycimf.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(6813,)]

In [20]:
%%sql
SELECT COUNT(1)
FROM songplays;

 * postgresql://dwhuser:***@dwhcluster.cxihrtmycimf.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(9957,)]

In [21]:
%%sql
SELECT DISTINCT songs.title, 
       songs.year, 
       songs.duration 
FROM songplays 
JOIN songs ON (songs.song_id=songplays.song_id) 
WHERE songs.duration>200
LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.cxihrtmycimf.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('Climb To Safety', 1999, Decimal('280')),
 ('Where Is My Mind (XFM Live Version)', 2003, Decimal('223')),
 ("I Don't Want To Hear Any More", 2007, Decimal('261')),
 ('Imagination', 2006, Decimal('230')),
 ('Whatever Lies Will Help You Rest', 2006, Decimal('212')),
 ('Think It Over', 2005, Decimal('278')),
 ('Tha', 1992, Decimal('547')),
 ('Hel Vete', 2004, Decimal('255')),
 ("I've Underestimated My Charm (Again)", 2007, Decimal('235')),
 ('The Suit', 1979, Decimal('209'))]

In [22]:
%%sql
SELECT sp.songplay_id, 
        u.user_id,
        u.last_name,
        u.first_name,
        sp.start_time,
        a.name,
        s.title
FROM songplays sp
JOIN users u ON (u.user_id = sp.user_id)
JOIN songs s ON (s.song_id = sp.song_id)
JOIN artists a ON (a.artist_id = sp.artist_id)
JOIN time t ON (t.start_time = sp.start_time)
ORDER BY (u.last_name)
LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.cxihrtmycimf.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(5552, 66, 'Arellano', 'Kevin', datetime.datetime(2018, 11, 12, 19, 10, 42), 'Evanescence', 'Missing (Live in Europe)'),
 (421, 66, 'Arellano', 'Kevin', datetime.datetime(2018, 11, 7, 12, 9, 30), 'Lily Allen', 'U Killed It'),
 (7096, 66, 'Arellano', 'Kevin', datetime.datetime(2018, 11, 12, 11, 55, 4), "Guns N' Roses", 'Mama Kin'),
 (6103, 66, 'Arellano', 'Kevin', datetime.datetime(2018, 11, 6, 7, 39, 56), 'Kings Of Leon', 'Day Old Blues'),
 (3432, 66, 'Arellano', 'Kevin', datetime.datetime(2018, 11, 10, 12, 44, 10), 'Juanes', 'Rebelion'),
 (7390, 66, 'Arellano', 'Kevin', datetime.datetime(2018, 11, 12, 11, 55, 4), "Guns N' Roses", 'Catcher In The Rye'),
 (1620, 66, 'Arellano', 'Kevin', datetime.datetime(2018, 11, 27, 4, 48, 7), 'Alice In Chains', 'Brother'),
 (563, 66, 'Arellano', 'Kevin', datetime.datetime(2018, 11, 13, 0, 40, 37), 'Fu', 'To Wszystko Co Mam'),
 (1840, 66, 'Arellano', 'Kevin', datetime.datetime(2018, 11, 12, 11, 55, 4), "Guns N' Roses", 'Locomotive (Complicity)'),
 (5330, 66, 'Arellano', 'Kevin', datetime.datetime(2018, 11, 6, 7, 39, 56), 'Kings Of Leon', 'Ragoo')]